@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
body {
    text-align: center;
    background: linear-gradient(#99ffe5 0%, #b7c4ff 50%, #ffa3a3 100% );
    color: white;
    font-family: 'Amatic SC';
}
 
img {
    width: 100%;
}

#contact iframe
{
    width: 100%;
}

p {
    color: white;
    font-size: 20px;
}

.text-muted {
color: white;

}

.text-capitalize {
    color: white;
    
}

.text-success text-capitalize {
    color: white;   
}

.nav navbar-nav {
    background-color: black;
    color: white;
}

.movie_head {
    font-size: 20px;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: white;
}

.movie_collapse  {
    background-color: black;
}

.maghimma-pic {
    border-radius: 50%;
    width: 30%;
    height: 70%;
}

h3 {
    display: inline;
}